.dropdown_width {
  width: 220px !important;
}
.edit_order_details_btn {
  width: 130px !important;
}
.btn_width {
  /* min-width: 86px;
  text-align: center; */
}

.custom_dropdown_input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: text;
}

@media screen and (max-width: 767px) {
  .mg_x_3 {
    /* margin: 0px 8px; */
  }
}
@media screen and (min-width: 767px) {
  .mg_s_5 {
    margin-left: 16px !important;
  }
  .mg_x_5 {
    margin-right: 80px !important;
    margin-left: 80px !important;
  }
}
