.labelFlex {
  font-size: 14px;
}
.inputFlex {
  font-size: 14px;
}
.submit_btn {
  width: 10% !important;
}
.btn_tab {
  width: 100% !important;
  /* margin-right: 5px; */
}
/* responsive for tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn_tab {
    /* background-color: red !important; */
    width: 100% !important;
  }
}


@media only screen and (max-width: 600px) {
  .btn_tab {
    /* background-color: red !important; */
    /* width: 50% !important; */
  }
}